.statics-Order {
    width: 100%;
    height: 40px;
    background-color: #f1f1f1;
    color: #7d7878;
    font-size: 14px;
    padding-left: 6px;
    padding-top: 9px;
    font-family: sans-serif;
    box-shadow: gray;
    border-radius: 0px;
}
// .table-bordered {
//     border: var(--bs-border-width) solid #bfbdbd  !important;
// }
// .table > :not(caption) > * > * {
//     padding: 0.75rem 0.75rem;
//     color: var(--bs-table-color-state, var(--bs-table-color-type, var(--bs-table-color)));
//     background-color: #f1f1f1 !important;
//     border-bottom-width: var(--bs-border-width);
//     box-shadow: inset 0 0 0 9999px var(--bs-table-bg-state, var(--bs-table-bg-type, var(--bs-table-accent-bg)));
// }
// .table-dark {
//     --bs-table-color: #575151  !important;
//     --bs-table-bg: #202b36;
//     --bs-table-border-color: #373b3e;
//     --bs-table-striped-bg: #ddd9d5 !important;
//     --bs-table-striped-color: #969292 !important;
//     /* --bs-table-active-bg: #373b3e; */
//     /* --bs-table-active-color: #8f1616; */
//     --bs-table-hover-bg: #323539;
//     /* --bs-table-hover-color: #fff; */
//     color: var(--bs-table-color);

// }
// .table-bordered {
//     border: var(--bs-border-width) solid #bfbdbd !important;
//     border: none !important;
//     /* background-color: red; */
// }
.statics-Order-Latest{
    width: 100%;
    height: 40px;
    background-color: #f1f1f1;
    color: #7d7878;
    font-size: 14px;
    padding-left: 6px;
    padding-top: 9px;
    font-family: sans-serif;
    box-shadow: gray;
    border-radius: 0px;

}
.horizantal_line{
   width: '100%';
    text-align: 'left';
    margin-left: 0;
    height: 0.5px;
    border-width: 0;
    /* color: gray; */
    background-color: gray;
}
.lates-lists {
    font-size: 14px;
    font-weight: 400;
}
.statics-Order01 {
    width: 100%;
    height: 40px;
    background-color: #f1f1f1;
    color: #7d7878;
    font-size: 14px;
    padding-left: 6px;
    padding-top: 9px;
    font-family: sans-serif;
    box-shadow: gray;
    border-radius: 0px;
    // margin-top: 50px;
}
.statics-Order02 {
    width: 100%;
    height: 40px;
    background-color: #f1f1f1;
    color: #7d7878;
    font-size: 14px;
    padding-left: 6px;
    padding-top: 9px;
    font-family: sans-serif;
    box-shadow: gray;
    border-radius: 0px;
    // margin-top: 50px;
}