h5.p-1.mt-1.border-bottom {
    margin-top: 20px !important;
}
.dropzone {
    min-height: 230px;
    border: 2px dashed #b5aeae !important;
    background: var(--bs-secondary-bg);
    border-radius: 6px;
}